<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/skeleton.css">
<link rel="stylesheet" href="css/matching_days.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    <!-- Home Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="header">
        <h4>WAITER AVAILABILITY</h4>
        <h6 style="float:right; margin-top: -40px; padding: 10px; color: black;"> <a href="/days" style="text-decoration: none; color:#000000;"><i
                    class="fas fa-user-shield" style="color: #F39C12;"></i> admin dashboard</a> </h6>
    </div>
    <div class="enterDates">

        <form action="/waiters/{{user_name}}" method="post">
            <div class="week_days">
                <h5>WELCOME</h5>
                <h6 style="margin-left: 10px;"><span style="font-size: 20px; color:  #5499c7; text-transform:capitalize">
                        {{messages.info}}
                    </span>
                </h6>
                <br>
            </div>
            <div class="boxes">
                <h5 style="text-align: center;">PLEASE SELECT WORKING DAYS..!</h5>
                {{#each displayDays}}
                <h6>
                    <input type="checkbox" id="{{weekday}}" name="days" value="{{weekday}}" {{checked}}>
                    <label for="{{weekday}}"> {{weekday}} </label>
                </h6>
                {{/each}}
            </div>
            <button type="submit" class="button-primary">SUBMIT SHIFTS</button>
        </form>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->